#page-dashboard {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#page-dashboard main {
  position: relative;
  width: calc(100vw - 96px);
  height: 100vh;
  margin-left: 96px;
  padding: 28px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#page-dashboard main .content-wrapper {
  width: 90%;
}

#page-dashboard main h1 {
  width: 100%;
  font-size: 32px;
  line-height: 30px;
  color: #5C8599;
  font-weight: 700;
  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

#page-dashboard main .orphanages-wrapper {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

#page-dashboard .orphanage-container {
  flex-grow: 1;
  min-width: 350px;
}

#page-dashboard .orphanage-container .map-container {
  background: #ffffff;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}

#page-dashboard .orphanage-container .map-container .leaflet-container {
  border-bottom: 1px solid #DDE3F0;
  border-radius: 20px;
}

#page-dashboard .orphanage-container .map-container footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-dashboard .orphanage-container .map-container footer h2 {
  color: #4D6F80;
  text-decoration: none;
}

#page-dashboard .orphanage-container footer .orphanage-opts {
  display: inline-flex;
  gap: 8px;
}

#page-dashboard .orphanage-container footer .orphanage-opts button {
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 16px;
  background-color: #EBF2F5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s;
}

#page-dashboard .orphanage-container footer .orphanage-opts button:hover {
  background-color: #dfe7eb;
}