#page-new-account {
  height: 100vh;
  width: 100vw;
  min-height: 640px;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-new-account .login-container {
  height: 100%;
  width: 520px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-new-account .login-container .back-button {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 48px;
  width: 48px;
  background-color: #EBF2F5;
  border-Radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .1s;
}

#page-new-account .login-container .back-button:hover {
  opacity: .5;
}

form.new-account-form {
  width: 360px;
}

form.new-account-form fieldset {
  border: 0;
}

form.new-account-form fieldset+fieldset {
  margin-top: 80px;
}

form.new-account-form fieldset legend {
  width: 100%;
  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;
  margin-bottom: 0px;
  margin-bottom: 24px;
}

form.new-account-form p {
  font-size: 18px;
  font-weight: 600;
  color: #5C8599;
  margin-bottom: 60px;
}

form.new-account-form .input-block {
  margin-top: 24px;
}

form.new-account-form .input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 16px;
}

form.new-account-form .input-block input {
  height: 64px;
  padding: 0 16px;
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

form.new-account-form button.login-button {
  margin-top: 42px;
  height: 64px;
  width: 360px;
  border-radius: 20px;
  border: none;
  background-color: #37C77F;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

form.new-account-form button.login-button:hover {
  opacity: .5;
}